body {
  /* overflow: hidden; */
}
.App {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.board {
  text-align: center;
  background-image: url('./images/Snakes_mat.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 80vh;
  margin: 1vh auto;
  min-width: 40%;
  /* border: 5px solid gray; */
}
.dice {
  width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.rollDice {
  text-align: center;
  margin-top: 2vh;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 0;
  align-self: flex-start;
  min-height: 20vh;
  /* border: 5px solid black; */
}
.rollDice button, button {
  margin: 1% auto;
  font-size: 25px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.successMessage {
  color: green;
  text-align: center;
}
.errorMessage {
  color: red;
  text-align: center;
}
.infoMessage {
  color: #114B71;
  text-align: center;
}
.diceElement {
  /* border: 5px solid yellow; */
  min-width: 200px;
  min-height: 200px;
  margin: 0vh 1vw;
}
.gridRow {
  color: blueviolet;
  display: flex;
  flex-direction: column;
  margin-top: 6px;
  margin-bottom: 10px;
}
.gridColumn {
  display: flex;
  flex-direction: row;
  color: blue;
}
.gridCell {
  /* border: 1px solid black; */
  color: blue;
  width: 60px;
  height: 62px;
}
.centreAlignDiv {
  text-align: center;
}
